* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#my-board, #enemy-board {
  display: flex;
}

.row > div, .row-c > div {
  height: 25px;
  width: 25px;
  border: 1px solid black;
}

h1 {
  text-align: center;
  margin: 30px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.hit {
  background-color: black;
}

.missed {
  background-color: gray;
}

#page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}