* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Anton, sans-serif;
}

#my-board, #enemy-board {
  display: flex;
}

.row > div, .row-c > div {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125%;
  user-select: none;
}

h1 {
  text-align: center;
  margin: 30px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.hit {
  background-color: black;
}

.default {
  background-color: gray;
}

#page-mask, #start-page {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#start-page {
  gap: 10px;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}

fieldset {
  padding: 10px;
  display: flex;
  gap: 20px;
}

.validation-success {
  border-color: green;
}

.validation-error {
  border-color: red;
}

label {
  font-size: 70%;
}

.label {
  display: flex;
  flex-direction: column;
}